@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #5a4cd800;
  
}

#column-2 {
  background: #c9bf36;
}

#column-3 {
  background: #cccf19;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #18067e;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {

  header {
    background-color: #d14633;
    width:100%;
  }
  
  
  #column-1 {
    background-color:#6758a8 ;
    width:25%;
  }

  #column-2 {
    background-color: rgb(245, 248, 250);
    width:50%;
  }

  #column-3 {
    background-color: rgb(144, 112, 112);
    width:25%;
  }

  footer {
    background-color: rgb(5, 5, 5);
    width:100%;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: orangered;
    width:100%;
  }

  #column-1 {
    background-color: rgb(74, 87, 204);
    width:35%;
  }

  #column-2 {
    background-color:rgb(243, 245, 240) ;
    width:30%;
  }

  #column-3 {
    background-color: rgb(30, 59, 224);
    width:35%;
  }

  footer {
    background-color: black;
  }
   
}
